{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIM KSP</title>
    <style>
        body {
            background-color: blue;
        }
    </style>
</head>

<body>
    {% block content %}
    <h3>SELAMAT DATANG</h3>
    <h1>APLIKASI KOPERASI SIMPAN PINJAM</h1>
    <p>This is the content specific to the Home Page.</p>

    
    {% endblock content %}

</body>

</html>
